---
interface Props {}
---

<div class="card"><slot /></div>
<style is:global>
  @keyframes animate-card-in {
    0% {
      opacity: 0;
      transform: translate3d(0, 25px, 0);
      box-shadow: 0px 10px 0 -3px rgba(0, 0, 0, 0.8);
    }

    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      box-shadow: 0px 10px 39px -3px rgba(0, 0, 0, 0.8);
    }
  }

  .card {
    position: relative;
    max-width: 800px;
    min-height: 800px;
    padding: 1rem 1rem 10rem 1rem;
    margin: 1rem auto;
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23e1e9fe' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); */
    background-size: 15%;
    box-shadow: 0px 10px 39px -3px rgba(0, 0, 0, 0.8);
    border: solid 20px #c20000;
    border-radius: 6px;
    text-align: center;
    animation: animate-card-in 1.6s ease-in-out;
  }

  .card-title-1 {
    margin-bottom: 0;
    font-family: 'Wellfleet', serif;
    font-weight: 400;
    font-size: 4rem;
    color: var(--brown-2);
    text-shadow: 4px 4px 0 #fff;
  }

  .card-title-2 {
    color: var(--brown-1);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 4px;
    text-shadow: 1px 1px 0 #fff;
  }

  .card-separator {
    width: 75%;
    margin: 1em auto;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

  .card-separator::after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -0.8rem;
  }

  .lighthouse-holder {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    bottom: -7.8rem;
    right: -6rem;
    pointer-events: none;
  }

  .lighthouse-img {
    pointer-events: all;
  }

  .card-ocean-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    max-height: 200px;
  }

  @media screen and (max-width: 600px) {
    .card {
      min-height: 480px;
    }

    .card-title-1 {
      font-size: 3.5rem;
    }

    .card-title-2 {
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }
</style>
