<footer class="footer">
  Built with ❤️ by J&V on <a href="https://workers.cloudflare.com">Cloudflare Workers</a>.
</footer>
<style>
  .footer {
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.35);
    padding: 0.9rem 1rem;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 6px;
    font-size: 0.9rem;
    animation: animate-footer-in 2.5s ease-out;
  }

  @keyframes animate-footer-in {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
